<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.au.employeemanagement2">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Launch"
            android:label="@string/title_activity_launch"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".Admin">
        </activity>
        <activity
            android:name=".Employee"
            android:label="@string/title_activity_employee"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AdminLand"
            android:label="@string/title_activity_admin_land"
            android:parentActivityName=".Admin"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.au.employeemanagement2.Admin"/>
        </activity>
        <activity
            android:name=".Employeeland"
            android:label="@string/title_activity_employeeland"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Viewattendence">
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>